<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Dashboard - Brand</title>
    <link rel="stylesheet" th:href="@{/static/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" th:href="@{/static/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.form.io/js/formio.full.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" th:href="@{/static/assets/css/navbar_menu.css}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="background: rgb(140,2,27);">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" th:href="@{/index}"></a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/redirectToUnreviewTable}" style="font-size: 24px;"><i class="far fa-envelope-open" style="font-size: 24px;"></i><span>待辦清單</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/incident-table}" style="font-size: 24px;"><i class="fas fa-user" style="font-size: 24px;"></i><span>歷史紀錄</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('admin')" th:href="@{/Dyn_formGUI}" style="font-size: 24px;"><i class="far fa-plus-square" style="font-size: 24px;"></i><span>自訂表單</span></a>
                        <a class="nav-link" th:href="@{/addFormV2}" style="font-size: 24px;"><i class="fas fa-table" style="font-size: 24px;"></i><span>填寫表單</span></a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" sec:authorize="hasAuthority('admin')" th:href="@{/blank}" style="font-size: 24px;"><i class="fas fa-window-maximize" style="font-size: 24px;"></i><span>權限管理</span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" sec:authorize="hasAuthority('admin')" th:href="@{/blank-1}" style="font-size: 24px;"><i class="far fa-list-alt" style="font-size: 24px;"></i><span>管理表單模板</span></a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('admin')" th:href="@{/Form_Analysis}"
                           style="font-size: 24px;"><i class="far fa-list-alt"
                                                       style="font-size: 24px;"></i><span>查詢表單</span></a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle1" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                    <div class="container-fluid">
                        <button class="btn rounded-circle me-3" id="sidebarToggleTop1" type="button"><i class="fas fa-bars"></i></button>
                        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" th:href="@{/index}" id="navbar_menu_brand_top">
                            <div class="sidebar-brand-icon rotate-n-15"><img th:src="@{/static/assets/img/logo/SCSB_LOGO.png}" style="height: 35px;transform: rotate(15deg);" loading="auto"></div>
                            <div class="sidebar-brand-text mx-2"><span style="font-size: 18px;">上海商銀(T大使)</span></div>
                        </a>
                        <div class="d-lg-flex flex-grow-1 justify-content-lg-end" id="nowtime"></div>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                                        <span id="currentLoginUser" class="d-lg-inline me-2 text-gray-600 small" sec:authentication="principal.username"></span>
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" th:href="@{/static/profile.html}"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;個人資料</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="@{/logout}" style="text-align: center;background: #efa2a2;color: rgb(0,0,0);border-radius: 13px;"><strong>登出</strong></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-sign">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">同意簽字</h4>
                                    <button class="btn-close" type="button" aria-label="Close"
                                            data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <!--                                <p>Form ID: <span id="formId"></span></p>-->
                                    <div id="formio_sign"></div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-light" id="modal" type="button" data-bs-dismiss="modal">取消</button>
                                    <button class="btn btn-primary" type="button" onclick="signForm()">送簽</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-rollback">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">退簽</h4>
                                    <button class="btn-close" type="button" aria-label="Close"  data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <!--                                <p>Form ID: <span id="formId"></span></p>-->
                                    <div id="formio_rollback"></div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">取消</button>
                                    <button class="btn btn-primary" type="button" id="messageGet"  onclick="rollbackForm()">退簽</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-seemore">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">查看詳情</h4>
                                    <button class="btn-close" type="button" aria-label="Close"
                                            data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <!--                                <p>Form ID: <span id="formId"></span></p>-->
                                    <div id="formio_incodent_table"></div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-dark mb-4">待辦清單</h3>
                    <div class="btn-toolbar m-2"></div>

                    <table id="tablereviwelist" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>發案標號</th>
                            <th>操作選項</th>
                            <th>發案人</th>
                            <th>部門職位</th>
                            <th></th>
                            <th></th>
                            <th>提案主題</th>
                            <th>時效等級</th>
                            <th>到案日期</th>

                        </tr>
                        </thead>
<!--                        <tfoot>-->
<!--                        <tr>-->
<!--                            <th></th>-->
<!--                            <th>發案標號</th>-->
<!--                            <th>操作選項</th>-->
<!--                            <th>發案人</th>-->
<!--                            <th>部門職位</th>-->
<!--                            <th></th>-->
<!--                            <th></th>-->
<!--                            <th>提案主題</th>-->
<!--                            <th>時效等級</th>-->
<!--                            <th>到案日期</th>-->
<!--                        </tr>-->
<!--                        </tfoot>-->
                    </table>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © SCSB 2023 v1.0</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script th:src="@{/static/assets/js/jquery.min.js}"></script>
    <script th:src="@{/static/assets/bootstrap/js/bootstrap.min.js}"></script>
<!--    <script th:src="@{/static/assets/js/addFormV2.js}"></script>-->
<!--    <script th:src="@{/static/assets/js/Dyn_formGUI.js}"></script>-->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/af-2.6.0/b-2.4.2/b-colvis-2.4.2/b-print-2.4.2/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.2.0/sb-1.6.0/sp-2.2.0/datatables.min.js"></script>
    <script src="https://cdn.form.io/js/formio.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/js/jquery.smartWizard.min.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<!--    <script th:src="@{/static/assets/js/incident.js}"></script>-->
    <script th:src="@{/static/assets/js/theme.js}"></script>
    <script th:src="@{/static/assets/js/unreview.js}"></script>

</body>

</html>